/* Reset some default styles to ensure consistency */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

/* Style the edit book title */
h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; /* Center-align the h1 element */
}

/* Style the form */
form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
}

/* Style form labels */
label {
    font-weight: bold;
}

/* Style form input fields */
input[type="text"],
input[type="number"] {
    width: -webkit-fill-available;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: black;
}

/* Style status messages */
p {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

/* Error message style */
.error {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}