body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: peachpuff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

button {
    background-color: gray;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

#cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: gray;
}

#cart-icon.has-items {
    color: black;
}

#cart-popover {
    position: fixed;
    top: 70px;
    right: 20px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    max-width: 200px;
    display: none;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: darkred;
}

.book-checkbox {
    margin-right: 5px;
}

.header-container {
    display: flex;
    align-items: center;
}

#cart-icon {
    font-size: 24px;
    color: white;
}

.role-button {
    width: 120px;
    padding: 10px 20px;
    text-align: center;
    background-color: gray;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    position: fixed;
    top: 20px;
    right: 70px;
    z-index: 1;
}

.role-button:hover {
    background-color: black;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.cart-buttons button {
    margin-right: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #333;
    border-radius: 15px;
    color: white;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.card img {
    max-width: 100%;
    width: 400px;
    height: auto;
}

.btn-primary{
    display: flex;
    background-color: peachpuff;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 90px;
    height: auto;
    border-radius: 10px;
}
