body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: peachpuff;
    background-size: contain;
    background-repeat: no-repeat;
}

table {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: white;
    text-align: center;
}

th {
    color: white;
    background-color: #333;
    text-align: center;
}

.buy-btn, .remove-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.buy-btn:hover, .remove-btn:hover {
    background-color: #45a049;
}

.buy-btn:active, .remove-btn:active {
    background-color: #3e8e41;
}

.remove-btn {
    background-color: #f44336;
}

.remove-btn:hover {
    background-color: #d32f2f;
}

.remove-btn:active {
    background-color: #c62828;
}

h2 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.container-table{
    width: fit-content;
    margin: auto;
}

p{
    font-size: 30px;
}